body {
    font-family: Verdana;
    background-image: url("/home/benedict/Desktop/my-first-website/me.png");
    background-attachment: fixed;
}
#header{
    max-width: 4060px;
    margin: 0 auto;
    background-color:rgba(2, 18, 29, 0.562);
    padding: 1px;
    position: sticky;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    color:white;
    
}
.main-menu{
    padding: 5px 0 5px 0;
    text-align:center;
    line-height:32px;
    font-size:20px;
    background-color: rgba(12, 36, 56, 0)
}
ul.main-menu{
    margin-top:15px;
}
.main-menu a{
    text-decoration: none;
    color:white;
    padding:8px;
    text-transform: uppercase;
}
.main-menu a:hover{
    color:rgb(17, 114, 106);
}
.main-menu li{
    display: inline;
    padding: 0 10px 0 10px;
}
h2{
    text-align:center;
    color:white;
    font-family: Verdana;
    font-size:90px;
    text-decoration-line: underline;
}
p{
    text-align: center;
    color:rgb(6, 11, 17);
    font-size:30px;
    max-width: 4060px;
    margin: 0 auto;
    background-color:rgba(162, 193, 214, 0.37);
    padding: 1px;
}
a{
    color: rgb(115, 212, 236);
}
a:hover{
    color:rgb(36, 95, 151);
}

h3{
    text-align:center;
    color:white;
    font-family: Verdana;
    font-size:90px;
    text-decoration-line: underline;
}