body {
    font-family: Verdana;
    background-image: url("/home/benedict/Desktop/my-first-website/background.jpg");

}
#header{
    max-width: 4060px;
    margin: 0 auto;
    background-color:rgb(6, 29, 44);
    padding: 1px;
    display: sticky;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    color:white;
    text-decoration-line: unset;
}
.main-menu{
    padding: 5px 0 5px 0;
    text-align:center;
    line-height:32px;
    font-size:20px;
    background-color: rgba(12, 36, 56, 0.329)
}
ul.main-menu{
    margin-top:15px;
}
.main-menu a{
    text-decoration: none;
    color:white;
    padding:8px;
}
.main-menu a:hover{
    color:rgb(17, 114, 106);
}
.main-menu li{
    display: inline;
    padding: 0 10px 0 10px;
}